{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IDEIL | IT Career Navigator</title>
    <link rel="stylesheet" href="{% static 'navigator/style.css' %}">
</head>
<body>

    <header class="header">
        <div class="logo">IDEIL. <span>Navigator</span></div>
    </header>

    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        &copy;  IDEIL. Усі права захищено.
    </footer>

</body>
</html>